h1:not(.title-medium-l):not(.title-bold-l) {
  @include text-size(32px, $--font-weight-medium, 40px);
}
h2:not(.title-medium-m):not(.title-bold-m) {
  @include text-size(24px, $--font-weight-medium, 32px);
}
h3:not(.title-medium-s):not(.title-bold-s) {
  @include text-size(20px, $--font-weight-medium, 28px);
}
h4:not(.title-medium-xs):not(.title-bold-xs) {
  @include text-size(16px, $--font-weight-medium, 24px);
}

.title-bold-l {
  @include text-size(32px, $--font-weight-bold, 40px);
}
.title-medium-l {
  @include text-size(32px, $--font-weight-medium, 40px);
}
.title-bold-m {
  @include text-size(24px, $--font-weight-bold, 32px);
}
.title-medium-m {
  @include text-size(24px, $--font-weight-medium, 32px);
}
.title-bold-s {
  @include text-size(20px, $--font-weight-bold, 28px);
}
.title-medium-s {
  @include text-size(20px, $--font-weight-medium, 28px);
}
.title-bold-xs {
  @include text-size(16px, $--font-weight-bold, 24px);
}
.title-bold-xs {
  @include text-size(16px, $--font-weight-medium, 24px);
}

p {
  @include text-size(16px, $--font-weight-regular, 20px);
}

.text-regular-m {
  @include text-size(16px, $--font-weight-regular, 20px);
}
.text-regular-s {
  @include text-size(14px, $--font-weight-regular, 20px);
}
.text-regular-xs {
  @include text-size(12px, $--font-weight-regular, 16px);
}
.text-bold-m {
  @include text-size(16px, $--font-weight-semi-bold, 20px);
}
.text-bold-s {
  @include text-size(14px, $--font-weight-semi-bold, 20px);
}
.text-bold-xs {
  @include text-size(12px, $--font-weight-semi-bold, 20px);
}

.caption-regular-m {
  @include text-size(12px, $--font-weight-regular, 16px);
}
.caption-regular-s {
  @include text-size(11px, $--font-weight-regular, 14px);
}
.caption-regular-xs {
  @include text-size(10px, $--font-weight-regular, 14px);
}
.caption-bold-m {
  @include text-size(12px, $--font-weight-semi-bold, 16px);
}
.caption-bold-s {
  @include text-size(11px, $--font-weight-semi-bold, 14px);
}
.caption-bold-xs {
  @include text-size(10px, $--font-weight-semi-bold, 14px);
}

.display-m {
  @include text-size(64px, $--font-weight-bold, 72px);
  opacity: 0.2;
}
.display-s {
  @include text-size(48px, $--font-weight-bold, 56px);
  opacity: 0.2;
}

a {
  color: var(--text-link);
}
